.register-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #021a30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h2 {
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }

    .input-group {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
    }

    .input-group label {
        display: block;
        margin-bottom: 4px;
    }

    .input-group input, select {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #3d3d3d;
        border-radius: 4px;
        color: gray;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #ff5722;
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #e64a19;
    }

    .success-message {
        background-color: #4caf50;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
        display: none;
    }

    .error-message {
        background-color: #f44336;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
        display: none;
    }

    a {
        color: #ff5722;
        text-decoration: none;
        text-align: center;
        display: block;
        margin-top: 10px;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    color: #ff5722;

    button {
        padding: 10px 20px;
        background-color: #021a30;
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: 24px 0;
    }
}